.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 186px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 334px;
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 334px;
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 4.5rem;
  transition-duration: 0.5s;
  margin: 59px -4px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: -23px;
    margin-right: -23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
    transform: scale(1.18);
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
}

.u-section-1 .u-layout-cell-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-layout-cell-1:hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  opacity: 1 !important;
  transform: scale(1.15) !important;
  stroke: #999999 !important;
  border-color: #999999 !important;
  stroke-width: 2px !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-section-1 .u-layout-cell-1 {
  stroke: transparent !important;
  border-color: transparent !important;
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-text-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-1:hover {
  background-image: none !important;
  color: #999999 !important;
  transform: scale(1) !important;
}

.u-section-1 .u-text-1:hover .u-svg-link {
  fill: #999999 !important;
}

.u-section-1 .u-text-2 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-2:hover {
  background-image: none !important;
  color: #999999 !important;
}

.u-section-1 .u-text-2:hover .u-svg-link {
  fill: #999999 !important;
}

.u-section-1 .u-layout-cell-2 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-layout-cell-2:hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.15) !important;
  stroke: #999999 !important;
  border-color: #999999 !important;
  stroke-width: 2px !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-section-1 .u-layout-cell-2 {
  stroke: transparent !important;
  border-color: transparent !important;
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}.u-section-2 .u-sheet-1 {
  min-height: 100px;
}