.u-section-1 .u-sheet-1 {
  min-height: 1107px;
}

.u-section-1 .u-btn-1 {
  font-size: 2.25rem;
  border-style: solid;
  transition-duration: 0.5s;
  font-weight: 700;
  margin: 175px auto 0;
  padding: 38px 126px 40px 125px;
}

.u-section-1 .u-btn-2 {
  font-size: 2.25rem;
  border-style: solid;
  transition-duration: 0.5s;
  font-weight: 700;
  margin: 27px auto 0;
  padding: 38px 171px 39px;
}

.u-section-1 .u-btn-3 {
  font-size: 2.25rem;
  border-style: solid;
  transition-duration: 0.5s;
  font-weight: 700;
  margin: 38px auto 0;
  padding: 10px 37px 11px;
}

.u-section-1 .u-btn-4 {
  font-size: 2.25rem;
  transition-duration: 0.5s;
  border-style: solid;
  font-weight: 700;
  margin: 27px auto 60px;
  padding: 9px 109px 10px 108px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 893px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 803px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1394px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1066px;
  }
}

.u-section-1 .u-btn-2 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-2:hover {
  transform: scale(1.12) !important;
}

.u-section-1 .u-btn-3 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-3:hover {
  transform: scale(1.12) !important;
}

.u-section-1 .u-btn-4 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-4:hover {
  transform: scale(1.12) !important;
}

.u-section-1 .u-btn-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-1:hover {
  transform: scale(1.12) !important;
}